:root {
  --body-bg: #fafafa;
  --body-color: rgb(31, 31, 31);
  --link-color: #222;
  --link-color-hover: #ec5840;
  --border-color: rgb(240, 240, 240);
}

.dark-mode:root {
  --body-bg: #191a1b;
  --body-color: white;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
  --border-color: rgb(47, 51, 54);
}

.blue-mode:root {
  --body-bg: rgb(26, 46, 66);
  --body-color: white;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
  --border-color: rgb(56, 68, 77);
}

/*BODY*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg);
}
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

/*conteudo do cabeçalho*/
.header {
  flex-basis: 30%;
  max-width: 250px;
}

/*cabeçalho logo*/
.headerLogoImage {
}

.headerLogoImage img {
  margin-bottom: 50px;
  margin-left: 20px;
}

.headerLogoImage figcaption {
  display: none;
}

.headerMenuNav {
}

.menuNavList {
}

.menuNavItem {
  display: flex;
  width: max-content;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.menuNavItem:hover {
  transition: 300ms;
  background-color: rgb(228, 226, 224);
  border-radius: 20px;
}

#profilePhoto {
  border-radius: 50%;
}
.menuNavItem img {
  width: 26px;
}

.menuNavItem a {
  color: var(--body-color);
  text-decoration: none;
  font-size: 22px;

  margin-left: 25px;
  text-align: start;
}

/* MUDANÇA DE COR */
#screenColor {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 20px;
  margin-top: 25px;
}
.changeColor:hover {
  transition: 300ms;
  background-color: rgb(228, 226, 224);
  border-radius: 20px;
  cursor: pointer;
}
#darkColor {
  width: 40px;
  height: 40px;
  background-color: rgb(61, 61, 61);
  border-radius: 50%;
}
#middleColor {
  width: 40px;
  height: 40px;
  background-color: rgb(55, 101, 112);
  border-radius: 50%;
}
#lightColor {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
}

/* CONTEUDO PRINCIPAL*/

.mainContent {
  flex-basis: 70%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  max-width: 566px;
}
.mainContentTitle {
  color: var(--body-color);
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
}
.mainContentForm {
  padding: 10px 30px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  text-align: right;
}
.mainContentForm textarea {
  display: block;
  width: 100%;
  border: none;
  outline: none; /*borda que aparece quando selecionado*/
  resize: none /*retira opção de alterar tamanho do textarea */;
  height: 55px;
  font-size: 15px;
  background: unset;
  color: var(--body-color);
}
.mainContentForm button {
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.mainContentFeed {
}
.tweetsList {
  display: flex;
  flex-direction: column-reverse;
}
.tweetBox {
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1px solid rgb(47, 51, 54);
}
.tweetBox img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.tweetContent {
  padding-left: 10px;
}
.tweetContent h2 {
  color: var(--body-color);
  display: inline-block;
}
.tweetContent span {
  display: inline-block;
  color: #828282;
  margin-left: 10px;
}
.tweetContent p {
  margin-top: 10px;
  color: var(--body-color);
  text-align: justify;
}
